/*去除默认样式*/
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
#background {
    padding-top: 30px;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#nav {
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    background-image: linear-gradient(to right,#F48FB1, #27d86c,#26caf8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nav_item {
    width: 100px;
    height: 30px;
    line-height:30px;
    text-align: center;
    text-decoration: none;
}
.nav_item_href {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}